body{
background-image: url(../Images/bkgimg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
/* Set a background color that will be displayed
while the background image is loading */
background-color: #f2b98a;
}

/*this is the logo*/
img{
	padding-top: 1%;
	opacity:100%;
	width: 30%;
	margin-left:35%;
	margin-right:35%;
}

/*the box*/
.banner-text{
margin-top: -1%;
position:center center;
margin-right: 30%;
margin-left: 30%;
width: 40%;
text-align:center;
background-color: rgba(225,225,225, 0.3);
border-radius: 15px;
color: #fff;
padding-bottom: 7%;
}



input[type=text]{
  font-family: Tahoma, sans-serif;	
  padding: 0%;
  border: 1px solid #ccc;
  margin-left: 15%;
  margin-right:15%;
  width: 70%;
  height: 8%;
  font-size: 140%;
  text-align:center;
  border-radius:15px; 
    margin-bottom: 2%;
}

input[type=password] {
  font-family: Tahoma, sans-serif;	
  padding: 0%;
  border: 1px solid #ccc;
  margin-left: 15%;
  margin-right:15%;
  width: 70%;
  height: 8%;
  font-size: 140%;
  text-align:center;
  border-radius:15px;
  margin-bottom: 2%;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/*reset password button*/
button {
  font-family: Tahoma, sans-serif;	
  background-color: #f15a29;
  color: white;
  padding: 10px 20px;
  margin-left:32.5%;
  margin-right:32.5%;
  border: none;
  cursor: pointer;
  width: 35%;
  border-radius: 15px;
  font-size: 150%;
  float:left;
}

button:hover {
  opacity: 0.7;
}

.showpsw{
  color:black;
  margin-top: -2%;
  display: block;
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 87%;
  margin-left:45%;
  margin-right: 15%;
  width: 50%;
  cursor: pointer; 
  border-radius: 0px;
  background-color: Transparent;
  transition-duration: 0.4s;
  font-family:Tahoma, sans-serif;	
  margin-bottom: 4%;
  
}

/* Change styles for create and cancel button on small screens */
@media screen and (max-width: 700px) {
	.banner-text{
		width:100%;
		text-align:center;
		background-color: rgba(225,225,225,0.3);
		color: #fff;
		font-wight:bold;
		position:center center;
		margin-right: 0%;
		margin-left: 0%;
		padding-bottom: 10%;
	}
	
	
	input[type=text]{
		padding: 3%;
		margin-top: 3%;
		border: 1px solid #ccc;
		margin-left: 5%;
		margin-right:5%;
		width: 90%;
		height: 8%;
		font-size: 100%;
		text-align:center;
		border-radius:15px;
		

	}
	
	input[type=password] {
		padding: 3%;
		margin-top: 3%;
		border: 1px solid #ccc;
		margin-left: 5%;
		margin-right:5%;
		width: 90%;
		height: 8%;
		font-size: 100%;
		text-align:center;
		border-radius:15px;
	}
	
	button {
		background-color: #f15a29;
		color: white;
		padding: 14px 20px;
		margin-left:20%;
		margin-right:20%;
		border: none;
		cursor: pointer;
		width: 60%;
		border-radius: 15px;
		font-size: 150%;
		margin-bottom: 2%;
	
	}
	
	.showpsw{
		color:black;
		margin-top: -2%;
		display: block;
		border: none;
		padding: 12px;
		display: inline-block;
		text-align: center;
		font-size: 87%;
		margin-left:60%;
		margin-right: 0%;
		width: 50%;
		cursor: pointer; 
		border-radius: 0px;
		background-color: Transparent;
		transition-duration: 0.4s;
		font-family:Tahoma, sans-serif;	
		margin-bottom: 4%;
		float:right;
	}
}
