
body{
background-image: url(bkgimg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
/* Set a background color that will be displayed
while the background image is loading */
background-color: #f2b98a;

}



p{
line-height:60px;
text-align: center; 
font-size: 170%; 
color: #414042; 
font-family: Tahoma, sans-serif;
}


/* Header/logo Title */
.header {
  padding: 20%;
  text-align: center;
  margin-bottom:-2%;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 20%;
}

/*the box*/
.banner-text{
position:center center;
margin-right: 12.5;
margin-left: 12.5%;
width: 75%;
text-align:center;
background-color: rgba(225,225,225,0.3);
border-radius: 15px;
color: #fff;
font-wight:bold;
padding-bottom: 2%;
}

@media screen and (max-width: 700px) {
	.banner-text{
		width:100%;
		text-align:center;
		background-color: rgba(225,225,225,0.3);
		color: #fff;
		font-wight:bold;
		position:center center;
		margin-right: 0%;
		margin-left: 0%;
			
	}
}
	
	
/*this is the logo*/
img{
	padding-top: 1%;
	opacity:100%;
	width: 30%;
	margin-left:35%;
	margin-right:35%;
}

