
body{
background-image: url(bkgimg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
/* Set a background color that will be displayed
while the background image is loading */
background-color: #f2b98a;

}



p{
line-height:60px;
text-align: center; 
font-size: 170%; 
color: #414042; 
font-family: Tahoma, sans-serif;
}


/* Header/logo Title */
.header {
  padding: 20%;
  text-align: center;
  margin-bottom:-2%;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 20%;
}

/*the box*/
.banner-text{
position:center center;
margin-right: 12.5;
margin-left: 12.5%;
width: 75%;
text-align:center;
background-color: rgba(225,225,225,0.3);
border-radius: 15px;
color: #fff;
font-wight:bold;
padding-bottom: 2%;
}

@media screen and (max-width: 700px) {
	.banner-text{
		width:100%;
		text-align:center;
		background-color: rgba(225,225,225,0.3);
		color: #fff;
		font-wight:bold;
		position:center center;
		margin-right: 0%;
		margin-left: 0%;
			
	}
}


/*manager button*/
.button1 {
  border: 3px solid #414042;
  color: white;
  padding: 30px 32px;
  text-align: center;
  font-size: 135%;
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  cursor: pointer;
  border-radius: 25px;
  background-color: #f15a29;
  transition-duration: 0.4s;
 font-family: Tahoma, sans-serif;
}

/*the buttons on the same line(employee and municipality)*/
.group button {
  margin-top: 7%;
  display: block;
  border: 3px solid #414042;
  color:white;
  padding: 30px 32px;
  display: inline-block;
  text-align: center;
  font-size: 135%;
  margin-left: 5%;
  margin-right: 5%;
  width: 36%;
  cursor: pointer; 
  border-radius: 25px;
  display: inline-block;
  background-color: #f15a29;
  transition-duration: 0.4s;
  font-family: Tahoma, sans-serif;

}

/*change colors hover button */
.button1:hover, .group button:hover {
  background-color:#ff9261; /*coral*/
  color: black;
}

/*when the screen is less than 700px wide*/
@media only screen  and (max-width : 700px) {
  .group button, .button1 {
	float: none;
    width: 80%;
	text-align:center;
  }
}

@media only screen and (min-width : 768px) and (orientation : portrait) {
	.group button, .button1 {
	float: none;
    width: 80%;
	text-align:center;
  }
}
	
	
/*this is the logo*/
img{
	padding-top: 1%;
	opacity:100%;
	width: 30%;
	margin-left:35%;
	margin-right:35%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#ebebeb;
}

li {
  float:left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #414042;
  text-align: center;
  padding: 14px 99.4px;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-size: 130%;
}

li a:hover:not(.active) {
  background-color: #d1d1d1;
}

.activemenu {
  background-color: #f15a29;
}


body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin-right: 41%;
  margin-left:0%;
  padding-top: 5%;
}

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 0%;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}