body {
	background-image: url(bkgimg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* Set a background color that will be displayed
	while the background image is loading */
	background-color: #f2b98a;
}

p {
	line-height: 60px;
	text-align: center;
	font-size: 170%;
	color: #414042;
	font-family: Tahoma, sans-serif;
}
 
/* Header/logo Title */
.header {
	padding: 20%;
	text-align: center;
	margin-bottom: -2%;
}

/* Increase the font size of the heading */
.header h1 {
	font-size: 20%;
}

/*the box*/
.banner-text {
	position: center center;
	margin-right: 12.5;
	margin-left: 12.5%;
	width: 75%;
	text-align: center;
	background-color: rgba(225, 225, 225, 0.3);
	border-radius: 15px;
	color: #fff;
	padding-bottom: 2%;
}

@media screen and (max-width: 700px) {
	.banner-text {
		width: 100%;
		text-align: center;
		background-color: rgba(225, 225, 225, 0.3);
		color: #fff;
		position: center center;
		margin-right: 0%;
		margin-left: 0%;
	}
}

/*this is the logo*/
img {
	padding-top: 1%;
	opacity: 100%;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ebebeb;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
	width: 24.92%;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: #414042;
	text-align: center;
	padding: 5%;
	text-decoration: none;
	font-family: Tahoma, sans-serif;
	font-size: 130%;
}

li a:hover:not(.active) {
	background-color: #d1d1d1;
}

@media screen and (max-width: 1300px) {
	li {
		float: left;
		border-bottom: 1px solid #bbb;
		width: 100%;
	}
	li a {
		display: block;
		color: #414042;
		text-align: center;
		padding: 2%;
		text-decoration: none;
		font-family: Tahoma, sans-serif;
		font-size: 120%;
	}
	li:last-child {
		border-bottom: none;
	}
}

.activemenu {
	background-color: #f15a29;
	color: white;
}

body {
	font-family: Verdana, sans-serif;
}

.mySlides {
	display: none;
}

img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	margin-right: 41%;
	margin-left: 0%;
	padding-top: 5%;
}

/* The dots/bullets/indicators */
.dot {
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-top: 0%;
}

.active {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
